{% load static %}
<!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a href=" {% url 'index' %}" class="navbar-brand">
          <img src= "{% static 'admin/img/147faa70f705783a00dc8d23d64afcb0-isotipo-origami-letra-f100x100.png' %}" alt="F de foro" class="brand-image img-circle elevation-3" style="opacity: .8" href={% url 'index' %}>
        <span class="brand-text font-weight-light" >Inicio</span>
      </a>

  <div id="login">
      {% if user.is_authenticated %}
  Bienvenido {{ user.username }}!
  <p><a href="{% url 'logout' %}">Desconectarse</a></p>
{% else %}
          <a href="{% url 'login' %}">No estás conectado.Entrar</a>
{% endif %}
  </div>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">


      </ul>
    </div>
  </nav>

{% block header %}

{% endblock %}
  <!-- /.navbar -->